# Environment variables for the pihole-unbound docker-compose file
DOCKER_NETWORK_SUBNET={{ item.value.docker_network_subnet | default("192.168.5.0/24") }}
DEFAULT_HTTP_PORT={{ item.value.default_http_port | default(80) }}
DEFAULT_HTTPS_PORT={{ item.value.default_https_port | default(443) }}
PIHOLE_WEB_API_PASSWORD={{ item.value.pihole_web_api_password | default("correct horse battery staple") }}
UNBOUND_IP={{ item.value.unbound_ip | default("192.168.5.3") }}
PIHOLE_IP={{ item.value.pihole_ip | default("192.168.5.2") }}
TIME_ZONE={{ item.value.time_zone | default("Americas/New_York") }}